<div class='footer'>
  <div class="foot-image">
    <div class="copyright">
      <span>copyright</span>
      著作者:PIROSHI630610
      出典:photoAC
    </div>
    <%#= link_to "戻る", "http://localhost:3000" %>
  </div>
</div>