.text-box{
  width: 900px;
  height: 450px;
  background-color: white;
  margin-top: 25px;
}

.text{
  height: 450px;
}

.story-contents{
  display: flex;
}

.statuses{
  display: flex;
  width: 100%;
}

.memo{
  width: 900px;
  height: 60px;
  background-color: white;
  margin-top: 10px;
  overflow: scroll;
}